/* Header Style Codes */
.header{
  width:100%;
  height:100vh;
  position:relative;
  padding:0 70px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.title{
  color:#fff;
  text-transform: uppercase;
  font-size:85px;
  text-align: center;
  position:relative;
  z-index:2;
  mix-blend-mode:difference;
}

.title span{
  display:inline-block;
}

.whitespace{
  width:20px;
}

.title-stroke{
  color:transparent;
  -webkit-text-stroke:1px #fff; /* 글자 선 : width color */
}

/* Hero Image Style */
.header-img{
  position:absolute;
  width:45%;
  height:100vh;
  top:0;
  right:50px;
  overflow:hidden;
  clip-path: circle(0 at 0 100%);
  /* clip-path: circle(141.2% at 0 100%); */
}

/* clip-path 설명 
  도형 :
  https://bennettfeely.com/clippy/

  clip-path: polygon(0 0, 15% 0, 15% 100%, 0% 100%);
  첫 번째 점 (0% 0%)는 왼쪽 상단 모서리를 나타냅니다.
  두 번째 점 (1% 1%)는 또한 오른쪽 상단 모서리를 나타냅니다.
  세 번째 점 (0% 99%)는 오른쪽 하단 모서리를 나타냅니다.
  네 번째 점 (0% 99%)는 또한 왼쪽 하단 모서리를 나타냅니다. 

  circle : circle(반경 at x y(중심점))
*/

.header-img img{
  width:100%;
  height:100%;
  display:block;/* 이미지 태그는 인라인 : 블럭으로 변경 */
  object-fit: cover;
}

body{
  height:3000px;
}

/* Header Marquee Style */
.header-marq{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #171717;
  overflow: hidden;
}

.header-marq-text{
  display: inline-block;
  font-size: 35px;
  color: #9e9e9e;
  padding-right: 55px;
  margin-right: 15px;
  position: relative;
  text-transform: uppercase;
  /*
    - flex-shrink: 이 속성은 flex 컨테이너가 너무 작아서 모든 항목이 기본 크기를 유지할 수 없을 때, 항목이 줄어드는 방법을 결정합니다. 0은 이 요소가 줄어들지 않음을 의미합니다.
  */
  flex-shrink: 0;
}

.header-marq-wrapper{
  display: flex;
  width: 100%;
  height: auto;
  padding: 8px 70px;
}

.header-marq-star{
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
}

.header-marq-star img{
  width: 100%;
  display: block;
}

/* About Section Style */
.about{
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.about-wrapper{
  display: flex;
  justify-content: space-between;
}

.about-wrapper > div{
  width: 45%;
}

.about-wrapper > div.about-img{
  height: 100vh;
  overflow: hidden;
}

.about-wrapper > div.about-img img{
  width: 100%;
}

.about-wrapper > div.about-text{
  color: #fff;
  padding-right: 70px;
}

.section-title{
  font-size: 70px;
  line-height: 0.8;
  margin-bottom: 60px;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  margin-top: 100px;
}

.title-square{
  position: absolute;
  display: inline-block;
  width: 130px;
  height: 130px;
  border: 1px solid #4b4b4b;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about-para{
  font-size: 20px;
  color: #4b4b44;
  line-height: 1.5;
}

/* .sample{
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  background: #444;
  margin: auto;
} */

